<!DOCTYPE html>
<html lang="en" ng-app="BudgetCalc">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">


  </head>

  <header>
  </header>

  <body ng-controller="CalcController as calc">

    <div class="container-fluid">
      <div class="row">
        <h1 class="text-center">Kitchen Budget Calculator</h1>
      </div> <!-- .row -->
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3">
          <h3>Step 1: Determine a reasonable budget based on the value of your home.</h2>
          It is generally recommended to spend <strong>5% - 15%</strong> of your home's current value 
          on a kitchen project, with the national average being 8%.
          Spending less than 5% may lower the value of your home.
          If you spend more than 15%, you are unlikely to see a good return on your investment.
        </div>
      </div> <!-- .row -->
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3">
          <h3>Step 2: Decide how those funds should be allocated.</h2>
          The National Kitchen Bath Association conducted a recent survey in which they found that
          on average homeowners using professional services allocated their budget as follows:
        </div>
      </div> <!-- .row -->
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="col-xs-6">
            <ul class="list-unstyled">
              <li>Cabinetry 40%</li>
              <li>Countertops 14.5%</li>
              <li>Appliances 14%</li>
              <li>Fixtures 5%</li>
            </ul>
          </div>
          <div class="col-xs-6">
            <ul class="list-unstyled">
              <li>Lighting and Electrical 3.5%</li>
              <li>Flooring 3%</li>
              <li>Walls and Trim 1.5%</li>
              <li>Labor 18.5%</li>
            </ul>
          </div>
        </div>

      </div> <!-- .row -->
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="col-sm-3 col-sm-offeset-3 col-xs-10 col-xs-offset-1">
            <form class="form-inline">
              <div class="form-group">
              <label>
                Current Home Value
                <input type="text" ng-model="homeValue" class="form-control" format="currency">
              </label>
              </div>

              <div class="form-group">
              <label>
                Budget Percentage
                <input type="number" min="5" max="15" ng-model="budgetPercentage" class="form-control">
              </label>
              </div>
            </form>

              <div class="result" ng-if="homeValue && budgetPercentage">
                Total Budget {{ homeValue * budgetPercentage / 100 | currency }}
                <ul class="list-unstyled">
                  <li>Cabinetry {{ homeValue * budgetPercentage / 100 * .4 | currency }}</li>
                  <li>Appliances {{ homeValue * budgetPercentage / 100 * .14 | currency }}</li>
                  <li>Lighting and Electrical {{ homeValue * budgetPercentage / 100 * .035 | currency }}</li>
                  <li>Walls and Trim {{ homeValue * budgetPercentage / 100 * .015 | currency }}</li>
                  <li>Countertops {{ homeValue * budgetPercentage / 100 * .145 | currency }}</li>
                  <li>Fixtures {{ homeValue * budgetPercentage / 100 * .05 | currency }}</li>
                  <li>Flooring {{ homeValue * budgetPercentage / 100 * .03 | currency }}</li>
                  <li>Labor {{ homeValue * budgetPercentage / 100 * .185 | currency }}</li>
                </ul>
              </div>
          </div>

          <div class="col-sm-3 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <form>
              <div class="form-group">
              <label>
                Current Budget
                <input type="text" ng-model="currentBudget" class="form-control">
              </label>
              </div>

              <div class="result" ng-if="currentBudget">
                <ul class="list-unstyled">
                  <li>Cabinetry {{ currentBudget * .4 | currency }}</li>
                  <li>Appliances {{ currentBudget * .14 | currency }}</li>
                  <li>Lighting and Electrical {{ currentBudget * .035 | currency }}</li>
                  <li>Walls and Trim {{ currentBudget * .015 | currency }}</li>
                  <li>Countertops {{ currentBudget * .145 | currency }}</li>
                  <li>Fixtures {{ currentBudget * .05 | currency }}</li>
                  <li>Flooring {{ currentBudget * .03 | currency }}</li>
                  <li>Labor {{ currentBudget * .185 | currency }}</li>
                </ul>
              </div>
            </form>
          </div>
        </div>

      </div><!-- .row -->
    </div><!-- .container-fluid -->
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
    <script src="lib/angular.min.js"></script>
    <script src="src/app.js"></script>

  </body>

  <footer>
  </footer>
</html>
